<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Michael Grosser CV</title>
  <style type="text/css" media="all">
    body {
      margin-top: 1.0em;
      font-family: "Helvetica,FreeSans,Sans";
    }
    h1 { font-size: 40px; margin-bottom: 3px; }
    h1 a { text-decoration: none }
    h2 { font-size: 20px; }
    pre { padding: 15px; color: white; background:black}
    img {border: 0}

    #container {
      margin: 0 auto;
      width: 700px;
    }
    #download{
      float: right;
      background: url("images/pdf.gif") no-repeat;
      padding-left:20px;
    }
    .centered{ text-align: center;}
  </style>

  <style type="text/css" media="print">
    a{color: black; text-decoration:none}
    #download{display:none}
    #badge{display:none}
 </style>
</head>

<body>
<% fork_me = image_tag('http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :style => 'position: absolute; top: 0; right: 0;') %>
<%= link_to fork_me, 'https://github.com/grosser/cv', :id => 'badge' %>

<div id="container">

  <div id="download">
    <%= link_to 'Download', "https://raw.github.com/grosser/cv/gh-pages/cv.pdf" %>
  </div>

  <%= clearer %>

  <h1 class="centered">
    <%= link_to 'Michael Grosser', "https://github.com/grosser" %>
  </h1>

  <p class=centered>
    <%= mail_to 'michael@grosser.it' %><br />
    <%= link_to 'grosser.it', 'http://grosser.it' %>
    & <%= link_to 'github.com/grosser', 'https://github.com/grosser' %>
    <br />
    1983-11-21
  </p>

  <p>
    Full stack engineer focused in Ruby / Rails and various backend technologies.
  </p>

  <h3>Goals</h3>
  <ul>
    <li>Build great products with Ruby/Ruby on Rails.</li>
    <li>Embrace simplicity and usability while being innovative and agile.</li>
    <li>Sharing knowledge and learning with a team that lives by pairing and TDD.</li>
    <li>Contribute to Open-source.</li>
  </ul>

  <h3>Experience</h3>
  <ul>
    <li>
      <em>2012-present</em> Senior Staff Engineer at Zendesk.com (San Francisco)<br />
      <small>
        Backend engineering and tooling for kubernetes/docker/deployment/api/testing/developer productivity.<br/>
        Created and maintaining many services (deployment support, project organization, service discovery, etc.).<br/>
        Spreading best-practices around testing/deployment/security/dev-productivity thoughout all projects.<br/>
        Helped with engineering onboarding, mentoring, and organized pairing sessions.
      </small>
    </li>
    <li>
      <em>2008-present</em> Created & contributed to <%= data["repos"].size %> OS projects<br />
      <small>
        <%= data["repos"].sum{|p| p["stargazers_count"] } %> stars /
        <%= data["repos"].select{|p| not p["fork"] }.sum{|p| p["forks"] } %> forks
        (on own projects)
      </small>
    </li>
    <li>
      <em>2011-2012</em> Rails Engineer at PivotalLabs.com (San Francisco)<br />
      <small>
        Web-consultancy.<br/>
        Helped clients with Rails, Postgres, Heroku, Git, Sass, jQuery, Backbone and Ember.js
      </small>
    </li>
    <li>
      <em>2009-2011</em> Rails Frontend+Backend engineer at DaWanda.com (Berlin)<br />
      <small>
        EN/FR/DE Online marketplace with 1M users / 3M products / ~40 servers / 10K RPM / 60KLOC.<br />
        Rails, Sinatra, Ruby, MySql, Git, HTML, CSS, jQuery+Prototype, Solr, Varnish, Node.js, Puppet, Nginx, Memcached, Cap, HaProxy, Redis, Gettext, Xen
      </small>
    </li>
    <li>
      <em>2008-2009</em> Founder and Rails Frontent+Backend engineer at rathershort.com (offline)<br />
      <small>
        Movie distribution platform, 20KLOC<br />
        Rails, Ruby, jQuery, Haml, Cap, HyperEstraier, OpenId, OAuth, SQS, RPXNow, Gettext, XML-RPC, Google maps
      </small>
    </li>
    <li>
      <em>2006-2008</em> PHP-Rails clone developer at 20sec.net<br />
      <small>
        Smaller projects for various clients e.g. Triad, Hamburder abendblatt, Berlinale
      </small>
    </li>
    <li>
      <em>2006-2009</em> Media-informatics at TFH-Berlin<br />
      <small>
        Bachelor thesis on 'Test driven development with Ruby on Rails'
      </small>
    </li>
    <li>
      <em>2003-2006</em> Media-informatics at Technical University of Dresden<br />
    </li>
  </ul>

  <h3>Example open source projects</h3>
  <ul>
    <li>Deployment orchestration <%= link_to 'samson', "https://github.com/zendesk/samson" %></li>
    <li>
      Small-scale web projects <%= projects 'air_man', 'travis_cron', 'mymarks', 'share_man' %>
    </li>
    <li>
      Simple/pragmatic solutions<br />
      <%= projects 'parallel', 'wwtd', 'url_store', 'bitfields', 'pru', 'vendorer', 'zombie_passenger_killer', 'random_records', 'text_filter', 'db_graph', 'smusher', 'rpx_now', 'fallback', 'scopify', 'restful_catch_all_route', 'cachy', 'mini_memory_store', 'solr_collection', 'preheatable_cache', ',matching_bundle', 'email_vision' %><br />
    </li>
    <li>
      TDD<br />
      <%= projects 'parallel_tests', 'single_cov', 'maxitest', 'forking_test_runner', 'test_after_commit', 'parallel_split_test', 'single_test', 'rspec-instafail', 'rspec_enhanced_profile' %>,<br />
      see test coverage of other Ruby/JS projects
    </li>
    <li>
      Internationalisation<br />
      <%= projects 'fast_gettext', 'gettext_i18n_rails', 'i18n_data', 'countries_and_languages', 'translated_attributes', 'get_pomo', 'autolang', 'gettext_test_log' %>
    </li>
    <li>
      Metaprogramming<br />
      <%= link_to 'after_commit exceptions', 'http://grosser.it/2014/07/02/stop-rails-from-swallowing-after_commit-exceptions/' %>
      <%= link_to 'minitest-rerun', 'http://grosser.it/2014/03/29/copy-pasteable-minitest-re-run-commands/' %>
      <%= link_to 'slow_update_all', 'http://grosser.it/2010/08/15/big-updates-block-database-use-slow_update_all/' %>
      <%= link_to 'nested attributes sti fix', 'http://grosser.it/2010/06/04/fixing-rails-nested-attributes-on-collections-with-sti/' %>,
      <%= link_to 'memcache io timeout fix', 'http://grosser.it/2010/01/06/fixing-memcache-io-timeout-for-memcache-client/' %>,
      <%= link_to 'method parameter reflection', 'http://grosser.it/2009/07/05/ruby-monkey-reflection-to-get-method-parameter-names/' %>,
      <%= link_to 'Array.to_ordered_hash', 'http://grosser.it/2009/06/08/array-to_ordered_hash-replacement-for-rails-2-3-activesupportorderedhash-new/' %>,
      ...
    </li>
    <li>
      Misc<br/>
      <%= link_to_project 'ruco' %> (commandline editor),
      <%= projects 'gem_on_demand', 'gem-dependent', 'autoscaling', 'key_value' %>
    </li>
  </ul>
</div>
</body>
</html>
